<div class="order-form">
  <h2>Pizza Ordering System</h2>
  <table>
    <tr>
      <td>Toppings</td>
      <td colspan="4">Pizza Size</td>
    </tr>
    <tr>
      <td></td>
      <td colspan="1"><label>
          <input type="radio" name="size" [(ngModel)]="order.pizzaSize" value="Small"> Small ($5)
        </label></td>
      <td colspan="1"> <label>
          <input type="radio" name="size" [(ngModel)]="order.pizzaSize" value="Medium"> Medium ($7)
        </label></td>
      <td colspan="1"> <label>
          <input type="radio" name="size" [(ngModel)]="order.pizzaSize" value="Large"> Large ($8)
        </label></td>
      <td colspan="1"> <label>
          <input type="radio" name="size" [(ngModel)]="order.pizzaSize" value="ExtraLarge"> Extra Large ($9)
        </label></td>
    </tr>
    <tr>
      <td colspan="5">VegToppings</td>
    </tr>
    <tr>
      <td>Tomatoes($1.00)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Tomatoes']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Tomatoes']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Tomatoes']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Tomatoes']"></td>
    </tr>
    <tr>
      <td>Onions($0.50)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Onions']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Onions']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Onions']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Onions']"></td>
    </tr>
    <tr>
      <td>Bell pepper($1.00)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BellPepper']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BellPepper']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BellPepper']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BellPepper']"></td>
    </tr>
    <tr>
      <td>Mushrooms($1.20)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Mushrooms']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Mushrooms']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Mushrooms']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Mushrooms']"></td>
    </tr>
    <tr>
      <td>Pineapple ($0.57)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pineapple']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pineapple']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pineapple']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pineapple']"></td>
    </tr>
    <tr>
      <td colspan="5">Non-Veg Toppings</td>
    </tr>
    <tr>
      <td>Sausage ($1.00)</td>
      <td> <input type="checkbox" [(ngModel)]="order.toppings['Sausage']"></td>
      <td> <input type="checkbox" [(ngModel)]="order.toppings['Sausage']"></td>
      <td> <input type="checkbox" [(ngModel)]="order.toppings['Sausage']"></td>
      <td> <input type="checkbox" [(ngModel)]="order.toppings['Sausage']"></td>
    </tr>
    <tr>
      <td>Pepperoni ($2.00)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pepperoni']"> </td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pepperoni']"> </td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pepperoni']"> </td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['Pepperoni']"> </td>
    </tr>
    <tr>
      <td>Barbecue Chicken ($3.00)</td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BarbecueChicken']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BarbecueChicken']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BarbecueChicken']"></td>
      <td><input type="checkbox" [(ngModel)]="order.toppings['BarbecueChicken']"></td>
    </tr>
    <tr>
      <td>offer</td>
      <td colspan="4">
        <select [(ngModel)]="order.selectedOffer" class="select-offer-dropdown">
          <option value="">No Offer</option>
          <option value="offer1">Offer 1 – 1 Medium Pizza with 2 toppings = $5</option>
          <option value="offer2">Offer 2 – 2 Medium Pizzas with 4 toppings = $9</option>
          <option value="offer3">Offer 3 – 1 Large Pizza with 4 toppings (Pepperoni and Barbecue Chicken counted as 2
            toppings) – 50% discount</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Total:</td>
      <td colspan="4">${{ calculateTotal() }}
      </td>
    </tr>
  </table>
</div> 